body{
    background: rgba(0, 0, 0, 0.884);
}

#banner{
    width: 100%;
}

.principal{
    padding: 30px;

}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center; 
}

.cor-titulo{
    color: white;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}



ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%; 
}